@{
  Layout = "_Layout";
}

  <div class="container">
    <form action="/match" method="post">
      <label for="gWord">Enter a Word: </label>
      <input id="gWord" name="gWord" type="text">
      <label for="tBase">Enter a Passage of Text: </label>
      <input id="tBase" name="tBase" type="text">
      <button type="submit" class="btn btn-primary" name="button">Enter</button>
    </form>
  </div>
